// Common
html {
  font-size: 62.5%;
}

body {
  font-family: "Concert One", cursive;
  // background-color: #ffebc6;
  background-image: url(../grocery_list/pic/Screen\ Shot\ 2022-07-02\ at\ 11.26.39\ PM.png);
  background-size: cover;
  height: 100vh;
  background-repeat: repeat;
}

@mixin center {
  text-align: center;
  margin-left: 16px;
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin button {
  margin-top: 20px;
  font-size: 1.6rem;
  padding: 8px;
  width: 100px;
  border-radius: 8px;
  transition: all 0.5s;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
  @include center;
  margin: 56px auto;
  width: 500px;
  // outline: pink 2px solid;
}

//title
h1 {
  font-size: 5.2rem;
  color: #ffb100;
}

//form menu

.form_menu {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.form_lists {
  li {
    margin-top: 16px;
    margin-left: 16px;
    font-size: 1.5rem;
    background-color: #ffebc6;
    padding: 16px;
    border-radius: 8px;
  }

  .add {
    @include button;
    background-color: #f194b4;
    color: #ef233c;

    @include desktop {
      margin-left: 16px;
    }
  }

  .add:hover {
    opacity: 0.8;
  }

  @include desktop {
    display: flex;
  }
}

.groucery_list {
  height: 300px; //heightどうしよう？？
}

.list {
  display: block;
  width: calc(100% - 50px);
  margin: 0 auto;
  flex-grow: 1;

  @include center;
  padding: 20px;
  margin: 24px auto;
  width: calc(100% - 56px);
  background-color: #006c67;
  border-radius: 8px;
  min-height: 300px;
  position: relative;
  .input {
    display: flex;
  }

  .list_item {
    @include center;

    background-color: #003844;
    width: 287px;
    margin-top: 16px;
    border-radius: 8px;
    min-height: 40px;
    display: flex;
    margin-left: 36px;
    color: #fff4e9;
    position: relative;

    @mixin list_icon {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
      color: #8d99ae;
      position: absolute;
      top: 50%;
      margin-top: 5px;
      cursor: pointer;
    }

    .delete_btn {
      @include list_icon;
      right: -33%;
      transform: translate(-50%, -50%);
    }

    .edit_btn {
      @include list_icon;
      right: -20%;
      transform: translate(-50%, -50%);
    }

    .delete_btn:hover,
    .edit_btn:hover {
      opacity: 0.6;
    }
    .check {
      margin-left: 16px;
    }

    .nameSpan {
      margin-left: 16px;
      overflow: normal;
    }

    .inputed_name {
      position: absolute;
      left: 50%;
      font-size: 2.2rem;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 180px;
      text-align: left;
      overflow: normal;
    }

    .inputed_name_edit {
      position: absolute;
      left: 50%;
      font-size: 2.2rem;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 180px;
      text-align: left;
      overflow: normal;
      color: #fff4e9;
    }

    .inputed_num {
      position: absolute;
      left: 82%;
      font-size: 2.2rem;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 45px;
    }

    .inputed_num_edit {
      position: absolute;
      left: 88%;
      font-size: 2.2rem;
      transform: translate(-50%, -50%);
      top: 50%;
      color: #fff4e9;
      width: 45px;
    }
  }
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  opacity: 0.8;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  opacity: 0.8;
}

.delete_lists {
  @include button;
  @include center;
  margin: 56px auto;
  background-color: #f194b4;
  color: #ef233c;
  width: 120px;
}

.delete_lists:hover {
  opacity: 0.8;
}

// .material-symbols-outlined {
//   &.saved {
//   display: none;
//   }
// }

.text_edit,
.num_edit {
  display: none;
  color: #ffebc6;
}

.test {
  color: red;
}

// .toggle {
//   display: none;
//   inner<span class="material-symbols-outlined">done</span>`;
// }